djvenv
sitewomen/.idea
sitewomen/**/locale/*/LC_MESSAGES/django.mo
sitewomen/**/locale/en/LC_MESSAGES/django.po
sitewomen/fasttext_models
sitewomen/media
!sitewomen/media/photos/placeholder300.jpg
!sitewomen/media/profile/anonim.png
sitewomen/cert.crt
sitewomen/cert.key
sitewomen/celerybeat-schedule.bak
sitewomen/celerybeat-schedule.dat
sitewomen/celerybeat-schedule.dir
db.backup
.env*
**/__pycache__/
*.pyc
*.pyo
*.pyd