{% load mptt_tags %}

<ul class="list-group rounded-0 mt-0">
{% recursetree categories %}
    <li class="list-group-item p-2 ps-3 {% if node.id == cat_selected %}list-group-item-dark{% endif %} {% if not node.is_leaf_node %}dropdown-submenu{% endif %}">
        {% if node.id == cat_selected %}
            <span class="d-flex justify-content-between align-items-center flex-grow-1">
                {{ node.name }}
                {% if not node.is_leaf_node %}
                    <i class="bi bi-chevron-right ms-2"></i>
                {% endif %}
            </span>
        {% else %}
            <a href="{{ node.get_absolute_url }}" class="d-flex justify-content-between align-items-center text-decoration-none flex-grow-1">
                <span>{{ node.name }}</span>
                {% if not node.is_leaf_node %}
                    <i class="bi bi-chevron-right ms-2"></i>
                {% endif %}
            </a>
        {% endif %}

        {% if not node.is_leaf_node %}
            <ul class="dropdown-menu rounded-0 mt-0">
                {{ children }}
            </ul>
        {% endif %}
    </li>
{% endrecursetree %}
</ul>