{% load static %}
{% load i18n %}
{% load women_tags %}

<div class="col-sm-2">
    <ul class="list-group my-3 bg-white fs-5">
        {% if cat_selected == 0 %}
             <li class="list-group-item list-group-item-dark">{% trans "All categories" %}</li>
        {% else %}
             <li class="list-group-item"><a class="text-decoration-none" href="{% url 'home' %}">{% trans "All categories" %}</a></li>
        {% endif %}
        {% show_categories cat_selected %}
    </ul>
    <a href="{% url 'chat_home' %}" class="chat-button">
          {% trans "Open Chat" %}
        </a>
    {% show_tags %}
    <a class="mx-2" href="{% url 'latest_post_feed' %}">{% trans "Subscribe to RSS feed" %}</a>
</div>